

#body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'B612 Mono', monospace;
}

.content
{
    text-align: center;
}

#time 
{
    font-size: 6rem
}

@media only screen and (max-width: 700px)
{
    #time {
        font-size: 3rem;
    }
}